@font-face {
  font-family: "Drakors";
  src: url("../fonts/Drakors.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Zoom in */
  }
  100% {
    transform: scale(1); /* Zoom out */
  }
}

.loading-container {
  background: var(--color2);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-text {
  color: var(--color3);
  font-family: "Drakors";
  font-size: 90px;
  font-weight: bold;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Ensures text alignment */

  animation: zoomInOut 2s infinite ease-in-out;
}
