/* LoginPage.css */
.login-container {
  background: #a6bd8f; /* color2 */
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.login-box {
  background-color: #e8e9e4; /* color3 */
  color: #ffffff; /* color4 */
  height: 450px;
  width: 500px;
  border-radius: 35px;
  border: 2px solid #a6bd8f; /* color2 */
  box-shadow: 7px 7px 10px gray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-heading {
  color: #032539; /* color1 */
  display: grid;
  place-items: center;
}

.login-input {
  border: 2px solid #a6bd8f; /* color2 */
  height: 40px;
  width: 70%;
  margin: 10px 0;
  border-radius: 50px;
  padding-left: 15px;
  font-size: 16px;
}

.login-button {
  background: #a6bd8f; /* color2 */
  height: 40px;
  width: 70%;
  border-radius: 50px;
  color: #e8e9e4; /* color3 */
  margin: 10px 0;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.login-button:hover {
  background: #032539; /* color1 */
  color: #ffffff; /* color4 */
}

.login-options {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 10px;
}

.login-checkbox {
  margin-left: 15px;
}

.login-divider {
  color: #a6bd8f; /* color2 */
  text-align: center;
  margin: 15px 0;
  font-weight: bold;
}

.login-logo div {
  font-family: "Drakors", sans-serif;
  font-size: 48px;
  color: #032539; /* color1 */
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  animation: zoomInOut 2s infinite alternate ease-in-out;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
